.backButton {
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  min-height: 0;
}
.img {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 80px;
  flex-shrink: 0;
}
