.buttonContainer {
  display: flex;
  width: 484px;
  height: 150px;
  position: relative;
  background-color: rgb(255, 255, 255);
  justify-content: center;
}
.backButton:global(.__wab_instance) {
  position: relative;
}
.forwardButton:global(.__wab_instance) {
  position: relative;
}
