.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.box___6Tele {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.box__jIcsR {
  display: flex;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  padding-bottom: 10px;
  min-width: 0;
  flex-shrink: 0;
}
.headerFilled {
  display: flex;
  position: relative;
  background-color: rgb(68, 116, 255);
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.5);
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.headerFilledTitle {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 400px;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  min-height: 0;
}
.box__aXzwh {
  position: relative;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  color: rgb(255, 255, 255);
  font-size: 40px;
  display: inline-block;
}
.box__ttzmk {
  display: flex;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.box__mwCFu {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.box___8TeNq {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 220px;
  height: 40px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.headerButton__sHSu:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
}
.box__qk83L {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.box__lJxMc {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 220px;
  height: 37px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.headerButton___3Wmwg:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
}
.box__m8DH {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.box__aJfum {
  display: block;
  position: relative;
  background-color: rgba(68, 192, 255, 0.2);
  width: 220px;
  height: 40px;
  left: auto;
  top: auto;
  flex-shrink: 0;
}
.headerButton__q1S7:global(.__wab_instance) {
  position: absolute;
  left: 0px;
  top: 0px;
}
.box___0Iq5V {
  height: auto;
}
.box__tOrkm {
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.box__mu0Bx {
  display: flex;
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.box__yEbk5 {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.fieldTitle {
  display: flex;
  flex-direction: row;
  flex-row-gap: 0px;
  position: relative;
  width: 100%;
  height: 40%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 20px;
}
.titleFieldContainer:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__loSaf {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.fieldDescription {
  display: flex;
  flex-direction: row;
  flex-row-gap: 0px;
  position: relative;
  width: 100%;
  height: 60%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 20px;
}
.descriptionFieldContainer:global(.__wab_instance) {
  position: relative;
}
.img__pl20W {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.box__l8CdU {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.box__cQdIa {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.fieldCategories {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.fieldContainer__aThYk:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__kDtjr {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.fieldDates {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.datesFieldContainer:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__tJPq5 {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.fieldLocation {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.fieldContainer___1UVlu:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img___5KVvx {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.box___0Waeg {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
}
.fieldAges {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.fieldContainer__jkPv9:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__itCPf {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.fieldPrices {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  padding: 20px;
}
.pricesFieldContainer:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__toLlq {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.box__ojgBr {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
}
.box__t2Arb {
  display: block;
  position: relative;
  width: 100%;
  height: 20%;
  left: auto;
  top: auto;
  min-width: 0;
}
.box__qrXje {
  display: flex;
  position: relative;
  width: 100%;
  height: 50%;
  left: auto;
  top: auto;
  flex-direction: row;
  min-width: 0;
  padding: 20px;
}
.fieldContainer__jqhb7:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__dQpi0 {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
.box__r9HrW {
  display: flex;
  position: relative;
  width: 100%;
  height: 30%;
  left: auto;
  top: auto;
  flex-direction: row;
  min-width: 0;
  padding: 20px;
}
.fieldContainer___0PK:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.img__jqqNw {
  position: relative;
  object-fit: cover;
  width: 80px;
  height: 80px;
}
